@media print, screen and (min-width: 75em) {
  /*p.lead,
  h2, h3,*/
  .de-indent {
    position: relative;
    left: -8.333%
  }
  .navigation-callout,
  .header-black-bar {
    position: relative;
    left: -16.666%;
  }
  .header-black-bar > .grid-container {
    position: relative;
    left: 16.666%;
  }
}
.callout,
.navigation-callout {
  border: none;
  background: #EEE;
}

footer {
  border-top: 1px solid #999;
  margin-top: 1rem;
  padding-top: 1rem;
}
