<footer class="">
  <div class="grid-container">
    <div class="">
      <small class="">
        EMBL [site name], [site address] [site contact]
        <a href="#"><i class="icon icon-socialmedia" data-icon="T"></i></a>
        <a href="#"><i class="icon icon-socialmedia" data-icon="F"></i></a>
        <a href="#"><i class="icon icon-socialmedia" data-icon="L"></i></a>
        <a href="#"><i class="icon icon-socialmedia" data-icon="Y"></i></a>
        <br/>
        Copyright © EMBL 2017 | <a href="http://www.embl.org/">About the European Molecular Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a><a class="readmore float-right" href="#">Intranet</a>
      </small>
    </div>
  </div>
</footer>

<link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" type="text/css" media="all" />


<!-- JavaScript -->
<!-- embl-design-language-framework JS -->
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/jquery/dist/jquery.js"></script>
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/what-input/dist/what-input.js"></script>
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/foundation-sites/dist/js/foundation.js"></script>
<script src="https://embl-design-language.github.io/Framework-for-Websites/js/embl-design-language-framework.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your site's ID -->
<!--
<script>
  window._gaq = [['_setAccount','{{site.ga_code}}'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
