<footer class="grid-container">
  <hr/>
  <div class="grid-x grid-padding-x">
    Footer content placeholder.
  </div>
</footer>

<link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css" type="text/css" media="all" />


<!-- JavaScript -->
<!-- embl-design-language-framework JS -->
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/jquery/dist/jquery.js"></script>
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/what-input/dist/what-input.js"></script>
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/foundation-sites/dist/js/foundation.js"></script>
<script src="https://embl-design-language.github.io/Framework-for-Websites/bower_components/foundation-sites/dist/js/embl-design-language-framework.js"></script>
<script src="js/app.js"></script>

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your site's ID -->
<!--
<script>
  window._gaq = [['_setAccount','{{site.ga_code}}'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
