<div class="grid-x grid-padding-x">
  <div class=" small-12 cell">
    <div class="callout navigation-callout">
      <h4>In the Springboard</h4>
      <div class="grid-x grid-padding-x small-up-2 medium-up-3">
      {% comment %}
      We construct the site naviagion by loading a list of the site's pages
      and filtering to just those with the front matter of:
        group: "in_local_navigation"
      and we order by adding
        order: 2 (whatever number)
      {% endcomment %}
      {% assign navigation_list = site.pages | sort:"order" %}
      {% assign group = 'in_local_navigation' %}
      {% for node in navigation_list %}
        {% if group == null or group == node.group %}
          {% if page.url == node.url %}
            <div class="cell"><strong><a href="{{ site.baseurl }}{{node.url}}" class="active">{{node.title}}</a></strong>
              <p>(you are here)</p>
            </div>
          {% else %}
            <div class="cell"><a class="no-underline" href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a>
              <p> {{node.subtitle}}</p>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
      </div>
    </div>
  </div>
</div>
