<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class=""><!-- add any of your classes or IDs -->
    <div id="content" role="main">
      <div class="masthead-inner grid-container">
        <!-- local-title -->
        <header id="masthead-black-bar" class="clearfix masthead-black-bar">
          <div class="grid-x grid-padding-x">
            <div class="auto cell padding-top-xlarge">
              <!-- <a href="{{ site.domain }}{{ site.baseurl }}" title="Back to {{ site.name }} homepage" class="">{{ site.name }}</a> -->
            </div>
            <div class="small-4 medium-3 large-2 cell">
              <a href="https://embl-design-language.github.io/Springboard/"><img class="padding-top-medium padding-bottom-xlarge padding-right-large" src="https://embl-design-language.github.io/Framework-for-Websites/assets/logos/EMBL-black.svg" /></a>
            </div>
          </div>
        </header>
        <!-- /local-title -->
      </div>

      <section class="">
        <div class="grid-x grid-padding-x">
          <div class="large-11 cell black-background margin-bottom-large">

            <div class="grid-x grid-padding-x">
              <div class="padding-top-large margin-left-medium large-11 cell">
                <a href="{{ site.domain }}{{ site.baseurl }}" title="Back to {{ site.name }} homepage" class="white-color">
                  <i class="icon icon-generic" data-icon="H"></i> {{ site.name }}
                </a>
              </div>
              <!-- <div class="show-for-large large-1 cell"></div> -->
              <h1 class="margin-left-medium intro white-color margin-bottom-none large-11 cell">
                {% if page.bigtitle %}
                  {{page.bigtitle}}
                {% else %}
                  {{page.title}}
                {% endif %}
              </h1>
              <p class="margin-left-medium large-11 cell lead white-color">{{page.subtitle}}</p>
            </div>
          </div>


        </div>

        <!-- local-nav -->
        <nav class="grid-container padding-bottom-large">
          <div class="grid-x">
            <div class="large-auto cell">
              <ul id="local-nav" class="local-nav dropdown menu " data-description="navigational" data-dropdown-menu>
                {% comment %}
                We construct the site naviagion by loading a list of the site's pages
                and filtering to just those with the front matter of:
                  group: "in_local_navigation"
                and we order by adding
                  order: 2 (whatever number)
                {% endcomment %}
                {% assign navigation_list = site.pages | sort:"order" %}
                {% assign group = 'in_local_navigation' %}
                {% include navigation_list.html %}
              </ul>
            </div>
          </div>
        </nav>
        <!-- /local-nav -->

      </section>

      <section class="main-content-area" id="main-content-area">
        <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
        <!--
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Parent</a></li>
            <li class="disabled">Disabled</li>
            <li>
              <span class="show-for-sr">Current: </span> This page
            </li>
          </ul>
        </nav>
        -->
        <div class="grid-container">
        {{ content }}
        </div>
      </section>
      <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
      <!--
        <div id="local-footer" class="local-footer">
          <div class="row">
            <span class="reference">How to reference this page: ...</span>
          </div>
        </div>
      -->
      <!-- End optional local footer -->
    </div><!-- /.container -->
    {% include footer.html %}
  </body>
</html>
